Erratum 5483 

Section 4.2.8.2 says:

For X25519 and X448, the contents of the public value are the byte
string inputs and outputs of the corresponding functions defined in
[RFC7748]: 32 bytes for X25519 and 56 bytes for X448.

It should say:

For X25519 and X448, the contents of the public value are the byte
string outputs of the corresponding functions defined in [RFC7748]: 32
bytes for X25519 and 56 bytes for X448.

Notes:
Per Section 7.4.2 of this RFC and Section 6 of RFC7748, the byte string inputs to the corresponding ECDH scalar multiplication function are the private key and the u-coordinate of the standard public base point, the former of which of course must not be transmitted and the latter of which is a known constant.

From another perspective, including the byte string inputs in the contents of the public value would contradict the resulting content sizes given at the end of the cited paragraph as well as the statement in Section 7.4.2 that the public key put into the KeyShareEntry is the output of ECDH scalar multiplication function. 

DavidBen says:
here are two scalar multiplications involved. The first, as part of key generation, indeed passes in a known constant to the u value and outputs the byte string that goes into the key share. The second, the ECDH operation itself, passes in the peer key share and results in the shared secret. In the first call, the key share is the output. In the second, the key share is the input.
https://tools.ietf.org/html/rfc7748#section-6.1

But I agree it's not particularly clear. Perhaps it should have said something like:

For X25519 and X448, the contents of the public value are the K_A
and K_B values described in section 6 of [RFC7748]. This is 32 bytes
for X25519 and 56 bytes for X448.


Patrick says:
Fair point that there are two scalar multiplications involved on either endpoint in the course of the exchange, that what is being referred to in this section of RFC8446 is the first one, and that some readers might find ambiguity with respect to this that could be addressed with a different approach to the correction than I suggested (in my reading of RFC7748, I found 6.1 clear in establishing that it is the results of the first scalar multiplication that are transmitted).

If an approach like the one you are suggesting is taken, I recommend replacing "are the K_A and K_B values" with "is the K_A or K_B value", as the content of the public value is one of those and not both.


